body {
  line-height: 2em;
  background-color: #88760f;
  background-image: url("./assets/images/mocha-grunge.png");
}

ul {
  font-weight: bold;  
  list-style: none;
}

ul.contact-list {
  line-height: 1.5rem;
  text-align: center;
  margin-left: -40px;
}

hr {
  width: 60%;
}

#home {
  margin-top: 50px;
}

/* Footer Styles */

.footer {
  margin: 3rem;
  text-align: center;
}

.footer-professional {
  margin: 3rem;
  text-align: center;
  background-color: #767580;
  margin: 0;
}

.light-text {
  opacity: .2;
  font-size: .9rem;
}

/*
NavBar component containing links to website sections and contact information.
*/

.nav-custom {
  position: fixed;
  width: 100%;
  opacity: 0.95;
  margin-right: -15px;
}

.navbar-brand {
  margin-left: 20px;
}

/* Within NavBar component, contact links. */

.linkedin-link {
  text-decoration: none;
  color: rgb(27, 97, 155);
}

.github-link {
  text-decoration: none;
  color: rgb(187, 115, 21);
}

a.email-cell-link {
  color: black;
}

/* Within NavBar, toggle website theme */

.mood-toggler {
  margin-right: 2%;
}

.toggle-mood {
  border-radius: 4px;
}

.toggle-mood:hover {
  background-color: rgb(233, 233, 233);
}

/* 
Header component containing main page display.
*/

.header-title {
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.76);
}

.header-title-professional {
  float: center;
  text-align: center;
}

.jumbotron {
  background-image: url("./assets/images/Sunset-And-Boat.jpg");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; 
  background-color: black;
  background-repeat: no-repeat;
  min-height: 620px;
  margin-left: 4%;
  margin-right: 4%;
}

.jumbotron-professional {
  background-image: url("./assets/images/self-portrait.png");
  background-position-x: 50%;
  -webkit-background-size: 100% 100%;
  background-size: auto 120%; 
  background-color: rgb(80, 47, 47);
  background-repeat: no-repeat;
  min-height: 620px;
  /* margin-right: -15px; */
  color: white;
}

/* 
Description Card Component containing personal background information and media links
*/

.page-description {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 4rem;
}

.page-description-professional {
  background-color: silver;
}

.card-primary {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(160, 161, 156, 0.5);
  border-radius: 10px;
  border: 0.1rem solid black;
}

.card-primary-professional {
  /* margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(160, 161, 156, 0.5); */

  border-radius: 0;
  border: 0.1rem solid black;
  background-color: rgb(119, 116, 128);
}

.card.card-body {
  background-color: rgb(221, 221, 221);
  margin-bottom: 10px;
}


.card-custom {
  margin-top: 40px;
  margin-bottom: 1rem;
}

/* 
Display Carousel component containing projects
*/

.carousel {
  margin-top: 4rem;
}

.carousel-custom-professional {
  max-width: 720px;
  background-color: black;
}

.hidden-container {
  display: none;
}

.carousel-custom {
  max-width: 720px;
}

.d-block {
  height: 420px;
  width: 100%;
}