body {
  line-height: 2em;
}

ul {
  font-weight: bold;  
  list-style: none;
}

ul.contact-list {
  line-height: 1.5rem;
  text-align: center;
  margin-left: -40px;
}

hr {
  width: 60%;
}

.carousel-custom {
  max-width: 720px;
}

.card-custom {
  margin-top: 40px;
  margin-bottom: 1rem;
}

.light-text {
  opacity: .2;
  font-size: .9rem;
}

.header-title {
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.76);
}

.nav-custom {
  opacity: 0.95;
  margin-right: -15px;
}
.navbar-brand {
  margin-left: 20px;
}

.linkedin-link {
  text-decoration: none;
  color: rgb(27, 97, 155);
}

.github-link {
  text-decoration: none;
  color: rgb(187, 115, 21);
}

a.email-cell-link {
  color: black;
}

.card-primary {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(160, 161, 156, 0.5);
  border-radius: 10px;
  border: 0.1rem solid black;
}

.jumbotron {
  background-image: url("./assets/images/Sunset-And-Boat.jpg");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; 
  /* background-size: contain;  */
  background-color: black;
  background-repeat: no-repeat;
  min-height: 620px;
  margin-right: -15px;
}

.carousel {
  margin-top: 4rem;
}

.card.card-body {
  background-color: rgb(221, 221, 221);
}

.d-block {
  height: 420px;
  width: 100%;
}

.page-description {
  margin-bottom: 20px;
}

.footer {
  margin: 3rem;
  text-align: center;
}

.page-description {
  text-align: center;
  margin-top: 4rem;
}