ul {
  list-style: none;
}

.light-text {
  opacity: .2;
  font-size: .9rem;
}

.card {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(116, 121, 104, 0.39);
  border-radius: 15px;
}

.jumbotron {
  background-image: url("./images/Sunset-And-Boat.jpg");
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  min-height: 620px;
}

.carousel {
  margin-top: 4rem;
}

.carousel-inner {
  height: 540px;
  width: auto;
}

.page-description {
  margin-bottom: 20px;
}

.footer {
  margin: 3rem;
  text-align: center;
}

.page-description {
  text-align: center;
  margin-top: 4rem;
}